br
br
div.panel.panel-default
  div.panel-heading 코드 제출
  div.panel-body(style='max-width: 30%; min-width: 40px')
    form(role='form')
      .form-group
        label(for='') 언어
        select(name='' ng-model='submission.language').form-control
          option(value="C++") C++
      .form-group
        label(for='') 소스코드
        textarea(ng-model='submission.sourceCode' rows=10).form-control

      button.btn.btn-primary(ng-click='submit()') Submit
