br
br

.panel.panel-default
  .panel-heading 제출 테이블
  table.table.table-hover
    thead
      tr.row
        th.col-sm-1 #
        th.col-sm-3 상태
        th.col-sm-4 닉네임
        th.col-sm-4 문제
    tbody(ng-repeat='submission in submissions')
      tr.row
        td.col-sm-1 {{submission.id}}
        td.col-sm-3 {{submission.state | submitState}}
        td.col-sm-4
          a(ng-href='/user/{{submission.UserId}}') {{(submission.UserId | loadUser).nickname}}
        td.col-sm-4
          a(ng-href='/problem/{{submission.ProblemId}}') {{(submission.ProblemId | loadProblem).name}}

