h2 제출 리스트
br
br

table.table.table-hover
  thead
    tr
      th id
      th 상태
      th 유저
      th 문제
  tbody(ng-repeat='submission in submissions')
    tr
      td {{submission.id}}
      td {{submission.state | submitState}}
      td
        a(href='/users/{{submission.UserId}}') {{(submission.UserId | loadUser).name}}
      td
        a(href='/problems/{{submission.ProblemId}}') {{(submission.ProblemId | loadProblem).name}}
