extends layout

block content
  .row
    .col-xs-6
      .notice
        .notice-title
          공지사항
        .notice-body
          ul
            li
              span.glyphicon.glyphicon-bullhorn
              |   공지1
            li
              span.glyphicon.glyphicon-bullhorn
              |   공지2
            li
              span.glyphicon.glyphicon-bullhorn
              |   공지3

    .col-xs-6
      .new-problem
        h2 새로운 문제
        .row
          .mybox.col-xs-4
            h3 문제이름
            .myboxBottom
              small 문제내용문제내용문제내용문제내용문제내용문제내용문제내용문제내용문제내용문제내용문제내용문제내용문제내용문제내용문제내용문제내용문제내용문제내용
          .col-xs-1
          .mybox.col-xs-4
            h3 문제이름2
            .myboxBottom
              small 문제내용문제내용문제내용문제내용문제내용문제내용문제내용문제내용문제내용
        p hi